*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    text-decoration-color: #000;
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
html{
    font-size: 10px;
    width: 100%;
    height: 100%;
   
}
:root{
    --bleu:#00CBE9;
    --blackFooter:#37362F;
    --noir:#000;
    --box-shadow:0 1.5rem 1rem rgba(0,0,0,.1); 
    --box-shadow-top:0 0 2rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,0.1);
    --border-input:.1rem solid rgba(0,0,0,0.1);
    --outiline:0.1rem solid rgba(0,0,0,0.1);
    --outiline-hover:.2rem solid var(--black);
    --radius:1rem;
    --color-border:rgba(0,0,0,0.1);

}
.services{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}
.home .header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top:2rem;
    width: 100vw;
}
.services .service{
    width: 100vw;
    display:flex;
    flex-direction: column;
}
.services .service .details{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.services .service .details .detail{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.services .service .details .detail:nth-child(2){
   
    margin-left: 9rem;

}
.services .service .details .detail:nth-child(4){
   
    margin-left: 9rem;

}
.services .service .details .detail h2{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
.services .service .details .detail p{
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
}
.services .service .mybtn{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2.3rem;
}
.services .service .mybtn button{
    color:var(--bleu);
    background-color: white;
    border: 2px solid var(--bleu);
    width: 14rem;
    height: 4rem;
    /* border-radius: var(--radius); */
    font-size: 1.5rem;
    cursor: pointer;
}
.services .service .mybtn button:hover{
    background-color:var(--bleu);
    color:white
}

h4{
    text-align: center;
}
.title-section {
    font-size: 3rem;
    font-weight:700;

}
.title-section  span{
    font-size: 3rem;
    font-weight:700;
    color: var(--bleu);
}